#about-container{ 
    z-Index: 1;
    height: 120vh;
    /* position: relative; */
    width: 100vw;
    margin-top: 20%;
}
.about-text{
    /* position: relative; */
    width: 70vw;
    margin: 50px auto;
    top: 10%;
    color:aliceblue;
    font-size: 2rem;
    letter-spacing: 0.1em;
    line-height: 1.8rem;
}
.about-skills{
    position:relative;
    /* top: 40%; */
    margin-top: 15%;
    width: 100vw;  
    z-index: 1;
    
}
.icons-skills{
    margin-top: 5%; 
    z-index: 1;
   
}
.icon{
    margin: 20px;
    padding: 2%; 
    border-radius: 40%;
    box-shadow: 1px 1px 2px 2px #808080;
    background-color: white;
}

@media only screen and (max-width: 540px) {
    .about-text{
        width: 80vw;
    }
    .about-skills{
        bottom: -8%;
    }
    
    
}