.projects-container{
width: 100vw;
height: 100vh;
overflow: hidden;
z-index: 1;
transform: translate(0px,0px) !important;
}
.slider{
    

}
.slide-container{
    display: flex;
    width: 200vw;
    height: 100vh;
    transform: translate(0px,0px);
}
.slide{
    width: 100%;
    height: 30%;
    margin: 0% 1%; 
    border: 1px solid #664a4a;
    border-radius: 10px;
    overflow: hidden;
    z-index:2;
}
.slide > img {
    object-fit: cover;
    
}
.info{
    position: relative;
    height: 100%;
    transform: translateY(-30%);
    background-color: #888888e6;
    transition: all 0.5s ease-in;
}
.info:hover{
    transform: translateY(-110%);
}
.info > p{
    font-size: 0.8em;
}
.btn-link{
    border-radius: 10px;
    width: 20%;
    padding: 0%;
    background-color: #ffffff;
    float: left; 
    bottom: 2%;  
    margin: 2%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
span > a{
    text-decoration: none;
    color: black;
    font-size: 0.6em;
}
@media only screen and (max-width: 540px) {
    .projects-container{
        height: 100%;
        margin-top: 10%;
        transform: translate(0px,0px) !important;
    }
    .projects-container > h2{
        width: 70vw;
        margin:  auto;
        margin-top: 10%;
    }
    .slide-container{
        width: 300vw;
    }
    .slide{
        margin: 0% 2%;
    }
    .info{
        transform: translateY(-25%)
    }
@media only screen and (max-width: 950px){
    .info-text{
        font-size: 0.1rem;
    }
}
}
