@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') ;

body {
  background: #fff;
}

.title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  /* animation: scroll 200s linear infinite;
  background: url("../../assets/wood.jpg"), #111111;
  
  color: #eee;
  height: 100vh;
  min-width: 360px;
  ;
  display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  width: 100vw;
  height: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
  background-size: contain;
  overflow: hidden;
  
}
.ocean {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 200px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave{
  display:none;
}
/* @keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
} */
/*  */
@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}